.hero{
    background-color: #1f2937;
}

.logo {
    display: flex;
    height:75px;
    width: 300px;
}

.header{
    display: flex;
    justify-content: space-around;
}

.header-links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: rgb(221, 221, 221);
}

.header-links:hover{
    color: rgb(255, 255, 255);
}

.opener{
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 40px;
}

.opener-heading{
    color: whitesmoke;
}

.opener-subtext{
    color: white;
}

.sign-up-button{
    text-align: center;
    color: white;
    background-color: #3882f6;
    border-radius: 6px;
    text-decoration: none;
    padding: 10px;
    width: 100px;
}

.sign-up-button:hover{
    cursor: pointer;
    background-color: #0062ff;
}

.opener-image{
    width:400px;
    height: 200px;
}

.info-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
}

.info{
    display: flex;
    gap: 30px;
}

.info-pic{
    display: flex;
    width: 250px;
    height: 250px;
}

.info-text{
    
}